/* From Uiverse.io by adamgiebl */ 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit';
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: royalblue;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contact-inputs:focus {
    border: 2px solid #0063dd;
}
.contact-inputs::placeholder{
    color:rgb(35, 35, 35);
}
button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
.contact-right img{
    width: 800px;
}

@media (max-width:800px) {
    .contact-inputs{
        width: justify;
    }
    .contact-right{
        display: none;
    }
}

footer {
  background-color: #25252585;
  color: #fff;
  /* padding: 20px; */
  text-align: center;
}

.footer-container {
  max-width: 100%;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  backdrop-filter: blur(10px);
  padding-bottom: 20px;
}

.footer-links {
  padding-top: 18px;
  flex-basis: 30%;
}


.footer-links h2 {
  font-size: 130%;
}

.footer-social {
  flex-basis: 20%;
  margin-top: 40px;
}

.footer-social h2 {
  font-size: 130%;
}


.footer-copyright {
  flex-basis: 50%;
  text-align: center;
  margin-top: 30px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-links li,
.footer-social li {
  margin-right: 20px;
  margin-top: 20px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ccc;
}

.fab {
  font-size: 24px;
  margin-right: 10px;
}

.footer-copyright p {
  font-size: 14px;
  margin-bottom: 0;
}

